#
# Configuration file for ScaleIO FlexVolume Driver
#

# SCALEIO_DEBUG
#
# Enables verbose logging of the ScaleIO Driver
# Set to "0" to disable
# Set to "1" to enable
#
# Default value is "1"
#
SCALEIO_DEBUG="1"

# KUBECONFIG
#
# Kubernetes config file for driver to utilize
# Ensure specified config file exists on all nodes
#
# Default value is "/root/.kube/config"
#
KUBECONFIG="/root/.kube/config"

# TOKEN_SCRIPT
#
# The ScaleIO Driver uses a token as authorization
# for labeling physical volumes. Set this value to the path
# of a script which returns a token to be used.
# The default script will obtain a token associated with a
# service account named 'scaleio-flex-volume'
#
# Default value is "/opt/emc/scaleio/flexvolume/bin/get-token.sh"
#
TOKEN_SCRIPT="/opt/emc/scaleio/flexvolume/bin/get-token.sh"

# LOGFILE
#
# Full path to the ScaleIO FlexVolume logfile
#
# Default value is "/var/log/scaleio-flexvol.log"
#
LOGFILE="/var/log/scaleio-flexvol.log"

# ENABLE_ONE_POD_RESTRICTION
#
# Enables feature that prevents a volume from being
# attached/mounted if the volume is already attached
# to another running pod.
#
# If PVCs are being used, the name of the PVs to which
# the PVCs are bound must be equivalent to the volumeID
#
# Default value is "1"
#
ENABLE_ONE_POD_RESTRICTION="1"

# ENABLE_SAME_NODE_AUTO_FAILOVER_FOR_ONE_POD_RESTRICTION
#
# Enables feature, when ENABLE_ONE_POD_RESTRICTION is turned on as well,
# that automatically releases a ReadWriteOnce volume when the pod to which
# it is bound terminates so that another pod on the same node
# can consume the volume.  This will happen only if the status of all
# pods are known (i.e. no "Unknown" pods).  If pods on different nodes
# want to consume the volume though, manual intervention is required.
#
# When this feature disabled, manual intervention is required
# to release the volume from the terminated pod so that other pods
# (regardless of which node they reside on) can consume the volume.
#
# If ENABLE_ONE_POD_RESTRICTION is disabled, the value of this parameter
# is benign.
#
# Default value is "0"
#
ENABLE_SAME_NODE_AUTO_FAILOVER_FOR_ONE_POD_RESTRICTION="0"

# USELABELS
# The FlexVolume driver can manage labels on the physical volumes
# that denote the attached state and other attributes
# Setting this variable to "1" will enable the labels, while
# any other value disables the use of labels
#
# Default value is "1"
#
USELABELS="1"
